* {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Anek Latin', sans-serif;
font-family: 'Anek Malayalam', sans-serif;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto Slab', serif;
    overflow: auto;
    padding-bottom: 100px;
}

.mycv {
    overflow: auto;
    padding: 0px;
    align-items: center;
    font-size: 37px;
    font-family: 'Roboto Slab', serif;
    font-family: 'Smooch', cursive;
}

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
}

header {
    background-color: rgb(251, 250, 252);
}

#left_header {
    display: flex;
    align-items: center;
}

#logo {
    max-width: 113px;
    display: block;
}

#header_links {
    display: flex;
    justify-content: space-between;
    width: 375px;
    align-items: center;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
}

.image-wrapper>img {
    width: 100%;
    max-width: 353px;
    display: block;
    height: fit-content;
}

img {
    border-radius: 40px;
}

.myphoto {
    animation: fade-in 2500ms ease-in-out;
}

.myphoto>img {
    margin: 0 auto;
    display: block;
}

.hobby_tables {
    font-family: 'Roboto Slab', serif;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-12 {
    width: 100%;
    height: 100%;
}

.flex-6 {
    width: 50%;
}

.flex-4 {
    width: 33%;
}

.flex-3 {
    width: 25%;
}

.flex-1 {
    width: 16.6%;
}

.table-container img {
    width: 100%;
}

footer {
    background-color: rgb(251, 250, 252);
    position: relative;
    height: 100px;
    margin-top: 159px;
    clear: both;
}

@media (max-width: 425px) {

}