nav>.header_links {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-in;
    position: absolute;
    top: 99%;
    right: -3%;
    width: 73%;
    background: #0a102ff5;
    line-height: 3;
    padding-left: 30px;
    z-index: 50;
}

ul.nav-header {
    list-style-type: none;
    height: 100vh;
}

.burger-font-size {
    font-size: 33px;
    font-weight: 500;
}

.hamburger-parent {
    width: 35px;
    background-color: none;
    margin: auto 20px;
}

.hamburger-parent,
.menu-switch {
    position: absolute;
    right: 8px;
    top: 25px;
}

.menu-switch {
    right: 40px;
    transform: scale(3);
    opacity: 0;
}

.menu-switch:checked~.header_links {
    max-height: 100vh;

}

.blur-zone {
    display: none;
    position: fixed;
    left: 0;
    top: 70px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}

.menu-switch:checked~.blur-zone {
    display: block;
}

.hamburger-parent>div {
    background-color: white;
    min-height: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.main-title {
    font-size: 20px;
}


.image-wrapper {
    min-height: 50vh;
}

.flex-intro {
    position: absolute;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.flex-12 {
    width: 100%;

}

.flex-6 {
    width: 50%;

}

.flex-4 {
    width: 33%;
}

.flex-3 {
    width: 25%;
}

.flex-1 {
    width: 16.6%;
}

.font-medium {
    font-size: 1rem;
}

.font-title {
    font-size: 4rem;
}

.grid-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
}

.grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: 2rem;
    
}

.grid>div {
    background-color: blueviolet;
}


#left_footer {
    padding: 0 10px 0 10px;
}

footer ul {
    display: block;
}

footer li {
    white-space: nowrap;
}

.mycv-1 {
    font-size: 113px;
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    padding-bottom: 20px;
}

.nav-footer {
    list-style-type: none;
    display: block;
    text-align: center;
    margin: 20px 0;
    padding: 20px 0;

}

.hobby-font {
    font-family: 'IBM Plex Mono', monospace;
    z-index: 1;
    cursor: pointer;
}

#contact .contact-info h2 {
    font-size: 15px;
}