@media (min-width: 768px) {
    
    .main-title {
        font-size: 36px;
    }
    
    .image-wrapper {
        min-height: 50vh;
    }
    
    .flex-md-12 {
        width: 100%;
    
    }

    .flex-md-6 {
        width: 50%;
    }
    
    .flex-md-4 {
        width: 33%;
    }
    
    .flex-md-3 {
        width: 25%;
    }
    
    .flex-md-1 {
        width: 16.6%;
    }

    .font-md-medium {
        font-size: 1.3rem;
        font-family: 'Raleway', sans-serif;
    }
    
    .font-md-title {
        font-size: 6rem;
        font-family: 'IBM Plex Mono', monospace;
    }

    .mycv-md-1 {
        font-size: 140px;
        font-family: 'IBM Plex Mono', monospace;
        color: white;
    }

    .mycv-3 {
        font-size: 1.6rem;
    }

    .myphoto>.image-wrapper {
        height: calc(100vh - 11rem);
    }
   
    #left_footer {
        padding: 0 0 0 70px;
    }

    .nav-footer {
        display: flex;
        justify-content: space-around;
        height: 5rem;
        align-items: center;
        padding-top: 0;
    }

    .image-wrapper {
        background: url("../img/mesh.jpg.jpg") center center / cover no-repeat;
    
    }


    #contact .contact-item {
        width: 84%;
    }

    #about h1 {
        font-size: 6rem;
    }
    
    #about p {
        font-size: 1.4rem;
    }

    
    .burger-font-size {
        font-size: 2em;
    }



    #contact .contact-info h2 {
        font-size: 25px;
    }


    .grid-md-2 {
        display: grid;
        grid-template-columns: 2fr 2fr;
        gap: 20px;
    }

    .block-md {
        display: block;
    }

    .skils-left {
        width: 50%;
        margin-right: -200px;
    }

    .skills-background {
        background: #112240;
    }

    .container {
        max-width: 720px;
    }

    .faq-container h1 {
        font-size: 30px;
    }

    .faq-container p {
        font-size: 18px;
    }
}