@media (min-width: 1440px) {


    footer li a,
    header li a {
        font-size: 20px;
    }

    .burger-font-size {
        font-size: 20px;
    }

    .font-xl-title {
        font-size: 11rem;
    }
}