@media (min-width: 1440px) {

    .container {
        max-width: 1200px;
    }

    footer li a,
    header li a,
    footer li {
        font-size: 1.2rem;
    }

    .burger-font-size {
        font-size: 1.2rem;
    }

    .font-xl-title {
        font-size: 11rem;
        font-family: 'IBM Plex Mono', monospace;
    }

    .mycv-3 {
        font-size: 2.5rem;
    }

    .quote-container {
        width: 70vw;
    }

    #about h1 {
        font-size: 7rem;
    }

    #about p {
        font-size: 2rem;
    }

    .faq-container h1 {
        font-size: 35px;
    }

    .faq-container p {
        font-size: 20px;
    }

}